src/main/mule/pipelinetest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2a454203-3910-4cb2-8ff5-051a429e04d2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pipelinetestFlow" doc:id="db2da9c5-8aa4-4dc2-9fe6-2db087645dbf" >
		<http:listener doc:name="Listener" doc:id="0b363b47-48d8-442c-ba21-d5070b4a4089" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hello bhai kya hall"]' doc:name="Set Payload" doc:id="807932d0-adfb-434d-a890-e8cc8c60baa4" />
	</flow>
</mule>
